{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'public/base.html.twig' %}

{% block body %}

    <div class="container">

      <a href="{{ url('homepage') }}">
        <img  style="width:100%;" alt="404" src="{{ asset('assets/404.gif') }}"/>
    </a>
    </div>

{% endblock %}