<div class="container">
    <footer>
        <hr>
        <span><a href="{{ url('homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> Anketos puslapis</a> /
            <a href="{{ url('admin') }}"><i class="fa fa-cogs" aria-hidden="true"></i> Valdymas </a>
        </span>
        <span class="float-right"> &copy; demo metasite 2017 </span>
    </footer>
</div>