{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}

{% extends 'public/base.html.twig' %}


{% block body %}

	<div class="container">


		<form method="post" action="{{ path('login') }}"
			  class="form-signing offset-lg-4 col-lg-3 offset-md-3 col-md-5 text-center">

			<h4 class="form-signin-heading text-left">Prisijungimas:</h4>

			{% if error %}
				<div class="alert alert-danger" role="alert">
					<strong>Oj ne!</strong> Neteisingas slaptažodis, mėginkite dar kartą.
				</div>
			{% endif %}


			<label for="username" class="sr-only">Email address</label>
			<input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="Vartotojas..." required autofocus>

			<label for="password" class="sr-only">Password</label>
			<input type="password" id="password" name="_password" class="form-control" placeholder="Slaptažodis..." required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

			<span class="float-right small">* admin:katinas</span><br>
		</form>




	</div>

{% endblock %}


