{% extends 'admin/base.html.twig' %}

{% block body %}

	<div class="container admin">

		<h2>Kategorijų valdymas</h2>

		{% for label, messages in app.flashes(['danger','success']) %}
			{% for message in messages %}
				<div class="alert alert-{{ label }} offset-lg-1 col-lg-7 col-sm-12">
					<strong>{{ message }}</strong>
				</div>
			{% endfor %}
		{% endfor %}

		{% if form is defined %}
			{{ form_start(form, { 'attr': {'class': 'offset-lg-1 col-lg-11 col-sm-12 add-category-form'}}) }}

			<h5>Naujų kategorijų pridėjimas:</h5>

			{{ form_row(form.category_name) }}
			{{ form_row(form.submit) }}
			{{ form_end(form) }}
		{% endif %}


		<div class="offset-lg-1 col-lg-7 col-sm-12">
			<h5>Kategorijų sąrašas:</h5>
			<table class="table table-hover table-sm">
				<thead>
				<tr>
					<th>#</th>
					<th>Kategorijos pavadinimas</th>
					<th>Veiksmas</th>
				</tr>
				</thead>
				<tbody>

				{% for key, item in categories_json %}
					<tr>
						<td><a name="{{ loop.index }}">{{ loop.index }}.</a></td>
						<td>{{ item }}</td>
						<td>
							<a class="btn btn-sm btn-danger"
							   href="{{ url('homepage') }}admin/categories/delete/{{ key }}/{{ item }}#{{ loop.index }}"
							   role="button" title="Ištrinti" data-toggle="tooltip">
								<i class="fa fa-trash" aria-hidden="true"></i>
							</a>
						</td>
					</tr>
				{% endfor %}

				</tbody>
			</table>
		</div>

	</div>

{% endblock %}


