{% extends 'admin/base.html.twig' %}


{% block body %}



    <div class="container admin">

        <h2>Prenumeratoriaus redagavimas</h2>

		{% for label, messages in app.flashes(['danger','success']) %}
			{% for message in messages %}
                <div class="alert alert-{{ label }}">
                    <strong>{{ message }}</strong>
                </div>
			{% endfor %}
		{% endfor %}

        <form method="post">
            <div class="form-group">
                <label for="name">Vardas:</label>
                <input type="text" id="id" name="id" class="hidden-xl-down" value="{{ subscriber_info.id }}">
                <input type="text" id="registration_date" name="registration_date" class="hidden-xl-down" value="{{ subscriber_info.registration_date }}">
                <input type="text" id="name" name="name" class="form-control" value="{{ subscriber_info.name }}">
            </div>
            <div class="form-group">
                <label for="email">El. paštas:</label>
                <input type="email" id="email" name="email" class="form-control" value="{{ subscriber_info.email }}">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Pasirinktos kategorijos:</label>
            </div>


            {% for item in categories_json %}
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="categories[{{ item }}]"


                                {% for itemz in subscriber_info.categories %}
                                    {% if item == itemz %}
                                        checked
                                    {% endif %}
                                {% endfor %}


                        > {{ item }}
                    </label>
                </div>


            {% endfor %}


            <div class="form-group">
                <button type="submit" class="btn-primary btn">Išaugoti</button>
            </div>

        </form>

    </div>

{% endblock %}


