{% extends 'admin/base.html.twig' %}


{% block body %}

	<div class="container admin">

		<h2>Prenumeratorių sąrašas</h2>

		{% for message in app.flashes('notice') %}
			<div class="alert alert-danger">
				<strong>{{ message }}</strong>
			</div>
		{% endfor %}


		<table id="table" data-order='[[ 2, "asc" ]]' class="table table-hover table-borsdered table-sm ">
			<thead>
			<tr>
				<th><i id="id-column-control" class="fa fa-eye" aria-hidden="true"></i></th>
				<th class="id-column">#Id</th>
				<th>Reg. data</th>
				<th>Vardas</th>
				<th>El. paštas</th>
				<th>Pasirinktos kategorijos</th>
				<th>Veiksmai</th>
			</tr>
			</thead>
			<tbody>
			{% for item in subscribers_json %}
				<tr>
					<td>
						<small><strong>{{ loop.index }}.</strong></small>
					</td>
					<td class="id-column">
						<small><a name="{{ loop.index }}">{{ item.id }}</a></small>
					</td>
					<td>
						<small>{{ item.registration_date }}</small>
					</td>
					<td>{{ item.name }}</td>
					<td>{{ item.email }}</td>
					<td>


						{% for category in item.categories %}
							<span class="badge badge-primary">{{ category }}</span>
						{% endfor %}
					</td>
					<td>
						<a class="btn btn-sm btn-success" href="{{ url('homepage') }}admin/edit/{{ item.id }}"
						   role="button" title="Redaguoti" data-toggle="tooltip">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</a>
						<a class="btn btn-sm btn-danger" href="{{ url('homepage') }}admin/delete/{{ item.id }}#{{ loop.index }}"
						   role="button" title="Ištrinti" data-toggle="tooltip">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</a>


					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

	</div>

{% endblock %}


