/* Admin custom styles here */

.admin h2 {
    padding: 50px 0;
}

td {
    word-break: break-word;
}

.id-column {
    display: none;
}

.add-category-form {
}

form {
    padding-bottom: 50px;
}

footer {
    padding-top: 50px;
}