/* Form custom styles here */

.help-block {
    color: red;
    font-size: small;
    font-weight: bold;
}

.help-block ul {
    margin: 5px 0 0 5px;
}



/* Login page */

.form-signing {
    padding: 100px 0;
}

.form-signing button,input{
    margin-top:2px;
}
.form-signing button{
    margin-top:5px;
}


/* Footer */
footer {
    margin-top: 50px;
}
