<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

	<title>{% block title %}Naujienų prenumeratos anketa{% endblock %}</title>

	{% block stylesheets %}
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
			  integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ asset('css/public_style.css') }}">
	{% endblock %}

	{% block javascripts %}

		<script src="https://use.fontawesome.com/d5bdc3844f.js"></script>

		<!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
				crossorigin="anonymous"></script>
		<script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
				integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
				integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

		<!-- Admin custom scripts -->
		<script src="{{ asset('js/public_script.js') }}"></script>
	{% endblock %}

</head>

<body>
<nav class="navbar text-center navbar-inverse bg-primary navbar-toggleable-sm">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="container">
		<a class="navbar-brand" href="{{ url('homepage') }}">Naujienų prenumerata</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ url('subscription') }}"><i class="fa fa-plus" aria-hidden="true"></i> Prenumeruoti <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" title="Siūlome Jums plačiausią Lietuvos ir užsienio šalių spaudos naujienų pasirinkimą.
                    Prenumeruokite Jus dominančias naujienas neišeidami iš namų ar biuro.
                    Užsakytas naujienas pristatysime Jūsų nurodytu el. paštu kasdien, išskyrus sekmadienius ir švenčių dienas."
					   data-placement="bottom" data-toggle="tooltip"><i class="fa fa-info-circle" aria-hidden="true"></i> Apie</a>
				</li>
			</ul>
		</div>
	</div>
</nav>


{% block body %}{% endblock %}

{% include 'footer.html.twig' %}

</body>
</html>

