{% extends 'public/base.html.twig' %}

{% block body %}

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container text-center">

			<h1>Sveiki visi!</h1>

			<p>Kviečiame pasinaudoti galimybe ir užsisakyti nemokamą naujienų prenumeratą. </p>

			<p><a class="btn btn-primary btn-lg" href="{{ url('subscription') }}" role="button">Prenumeruoti
					<i class="fa fa-plus" aria-hidden="true"></i></a>
				<a class="btn btn-lg btn-secondary" data-toggle="collapse" href="#collapseExample"
				   aria-expanded="false" aria-controls="collapseExample">
					Naujienų Kategorijos <i class="fa fa-caret-down" aria-hidden="true"></i>
				</a>
			</p>

			<div class="collapse offset-2 col-8 " id="collapseExample">
				<div class="card card-block">

					{% for item in categories %}
						{{ item }}{% if not loop.last %}, {% endif %}
					{% endfor %}

				</div>
			</div>

		</div>
	</div>



	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h4><i class="fa fa-info-circle" aria-hidden="true"></i></h4>
				<p>Siūlome Jums plačiausią Lietuvos ir užsienio šalių spaudos naujienų pasirinkimą.
					Prenumeruokite Jus dominančias naujienas neišeidami iš namų ar biuro. Žiemą, vasarą, pavasarį - neturi reikšmės.</p>
			</div>
			<div class="col-md-4">
				<h4><i class="fa fa-balance-scale" aria-hidden="true"></i></h4>
				<p>Užsakytas naujienas pristatysime Jūsų nurodytu el. paštu kasdien, išskyrus sekmadienius ir švenčių dienas.
			</div>
			<div class="col-md-4">
				<h4><i class="fa fa-gift" aria-hidden="true"></i></h4>
				<p>Tai bus ne tik aktualios žinios, bet ir originali bei praktiška dovana Jūsų draugams, artimiesiems, kolegoms bet kokia proga.</p></p>
				</p>
			</div>
		</div>

	</div> <!-- /container -->
{% endblock %}