{% extends 'public/base.html.twig' %}


{% block body %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Prenumeratos užsakymas</h1>
            <p>* Užpildykite žemiau esančius laukelius ir spauskite registruotis. Visas, aktualias Jums naujienas gausite akimirksniu!</p>
        </div>
    </div>

    <div class="container">

        {# Status notification block: START #}
        {% for message in app.flashes('notice-success') %}
            <script>
                $(document).ready(function () {
                    $(".registration-form").hide();
                });
            </script>

            <div class="alert alert-success"> {{ message }} </div>

            <a class=" btn btn-primary" href="{{ url('homepage') }}">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Į titulinį
            </a>
        {% endfor %}

		{% for message in app.flashes('notice-danger') %}
            <div class="alert alert-danger"> {{ message }} </div>
		{% endfor %}
		{# Status notification block: END #}

        <div class="registration-form">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.categories) }}

            {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}


